@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
body section{
    max-width: 1110px;
    margin: 110px auto;
}

:root{
    --primary-color:#3A3A3A;
}

/* share style */

.display-flex{
    display: flex ;
}
.btn{
    background: #E02C6D;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: bold;
    width: 12.25rem;
    height: 2.75rem;
    gap: 8px;
    align-items: center;
    border-radius: 41px;
    border: none;
    color: white;
}

.hide{
    display: none;
}





/* header related style */

header{
    max-width: 1440px;
    margin: 95px auto;
}
nav{
    justify-content: space-between;
    margin: 0 120px;

}
.logo{
    position: relative;
}
.hum i{
    display: none;
    cursor: pointer;
    font-size: 24px;
   
}
.nav-logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}
.navbar{
    gap: 24px;
}
.navbar li{
    list-style: none;
}
.navbar li a {
    text-decoration: none;
    font-size:1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.shopping{
    position: relative;
    display: inline-block;
}
.magnify i{
    font-size: 24px;
}
.shopping i{
    font-size: 36px;
    color: #333;
}
.count{
    padding: 7px 7px;
    font-size: 15px;
    background:black;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -4px;
}
/* banner related style */
.banner-section{
    align-items: center;
    justify-content: space-between;
}
.banner-left{
    max-width: 582px;
}
.banner-title{
    font-size: 3.25rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-describtion{
    font-size:1rem ;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 16px;
}
.banner-image{
    width: 410px;
    height: 410px;
    background-image: url(../images/Circle\ design.svg) ;
    background-repeat: no-repeat;
    background-size:contain;
}
.sponsor{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 61px;
    margin-left: 20px;
    
}



@media screen and (max-width:576px) {
    nav{
        margin: 0 20px;
        
    }
    .navbar{
        gap:20px;

    }
    .hum i {
        display: block;
    }
    .navbar li, .magnify i{
        display: none;
    }
    
    header{
    width: 100%;
    margin: 20px auto;
}
    
    .shopping i{
        justify-self:right;
    }
    .sponsor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 30px;
        margin-left: 0; 
        padding: 0 20px;
    }
    .btn{
        margin: 0 auto;
    }

    .item {
        flex: 0 1 calc(25% - 30px); 
        display: flex;
        justify-content: center;
    }

    .item img {
        max-width: 80px;
    }

    
    .banner-section {
        flex-direction: column-reverse;
        text-align: center;
        margin: 50px auto;
    }

    .banner-image {
        width: 100%; 
        height: auto;
    }
}