*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body section{
    max-width: 1110px;
    margin: 110px auto;
}

/* share style */
.display-flex{
    display: flex;
}
.btn{
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    color: white;
    cursor: pointer;
    
}
:root{
    --primary-color:#3A3A3A;

}

header{
    max-width: 1440px;
    margin: 95px auto;
}
/* header related style */
nav{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.navbar{
    gap: 24px;
}
.navbar li {
    list-style: none;
}
.icon{
    gap: 24px;
}
.icon .fa-bars{
    display: none;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}
.navbar li  {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
}
.fa-magnifying-glass, .fa-bars{
    font-size: 1.5rem;
}
.fa-cart-arrow-down{
    font-size: 2.1rem;
    position: relative;
   
}
.count{
    font-size: 9px;
    background: rgb(39, 100, 37);
    padding: 6px 6.5px;
    border-radius: 41px;
    position: absolute;
    top: -5px;
    right: -5px;
}
/* banner related style */
.banner-cointainer{
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    max-width: 582px;
}
.banner-left h1{
   font-size: 3.2rem;
   font-weight: bold;
   color: var(--primary-color);
   margin-bottom: 16px;
}
.banner-left p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 16px;
}
.banner-right img{
    width: 440px;
    height: 414px;
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: -10px 5px;
    background-size: contain;
    
}
/* sponsor related style */
.sponsor{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-area: 60px;
}
/* card section related style */
.card-top{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.pic-section{
    max-width:404px;
    height: 270px;
}
.card-top h2{
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--primary-color);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 17px 15px;
    max-width: 329px;
    height: 476px;
    border-radius: 8px;
    box-shadow: 0 10px 15px 20px rgba(0,0,0,0.1);
}
.card-info img{
    margin-bottom: 16px;
}
.card-info h3{
    font-size: 1.75rem;
    color: #18191F;
    margin-bottom: 16px;
}
.card-info h4{
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #000000cc;
}
.card-info p{
    margin-bottom: 16px;
    line-height: 30px;
}
.star{
    width: 16px;
    height: 16px;
    gap: 10px;
    color: #FB8200;
    margin-bottom: 5px;
}
.star span{
    font-size: 15px;
    font-weight: bold;
    color: #5E6366;
}
.see-more{
    justify-content:flex-end;
    margin-top: 50px;
    align-items: center;
    margin-right: 20px;
    color: var(--primary-color);
    
}
.see-more a{
    text-decoration: none;
    color: var(--primary-color);
}
/* pic cointainer */
.pic-container{
    gap: 96px;
    align-items: center;
}
.text-pic h1{
    font-size: 2.37rem;
    color: #0A0826;
    font-weight: 700;
    margin-bottom: 16px;
}
.text-pic h2{
    font-size: 1rem;
    color: #6C6C6C;
    line-height: 28px;
    margin-bottom: 16px;
    width: 500px;
}
.btn2{
    border: none;
}
/* footer section */
footer{
    max-width: 1440px;
    margin: 0 auto;
    background: rgba(10, 8, 38, 1);;
}

   

.footer-cointainer{
  justify-items: center;
  padding: 50px 0;

}
.footer-cointainer h2{
   font-size: 1.5rem;
   margin-bottom: 3px;
}
.footer-cointainer{
    color: white;
}


.footer {
  background-color: #1e293b; /* ডার্ক কালার */
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.highlight {
  color: #3b82f6; /* আপনার ফেভারিট ব্লু কালার */
  font-weight: bold;
}
@media screen and (max-width:576px) {
    header{
    margin: 20px auto;
}
    .navbar li, .fa-magnifying-glass{
        display: none;
    }
    nav{
        margin: 0 20px;
       
    }
    .banner-cointainer{
        flex-direction: column-reverse;
    }
    .banner-right img{
    width: 100%;
    height: auto;
}
.banner-left{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.sponsor{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 20px;
}
.card-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}
.pic-container{
    flex-direction: column-reverse;
}
.pic-section{
    width: 100%;
    height: auto;
}
.text-pic h2{
   text-align: center;
    width:100%;
}
.btn2 {
    display: flex;
    justify-content: center;
}
.text-pic h1{
    text-align: center;
}

.text-pic{
    padding: 0 20px;
}

}